In [1]:
#1
name=input("Enter Name: ")
age=input("Enter Age: ")
print(f"Hello {name}! Your {age} years old!")

Enter Name: Taha
Enter Age: 21
Hello Taha! Your 21 years old!

In [11]:
#2
data=input("Enter Data: ")
print(type(data))
try:
    converted=int(data)
    print(f"converted to int!")
    print(type(converted))
except:
    print("Cannot convert to int")
try:
    converted=float(data)
    print(f"converted to int!")
    print(type(converted))
except:
    print("Cannot convert to FLOAT")

Enter Data: 12.9
<class 'str'>
Cannot convert to int
converted to int!
<class 'float'>

In [12]:
#3
setData=["Hello","Hi"]
data=input("Enter Data: ")
setData.append(data)
setData.remove("Hi")
temp = " ".join(setData)
temp=temp.upper()
setData=temp.split(" ")
print(setData)

Enter Data: Yo
['HELLO', 'YO']

In [15]:
#4
Data=("Hello","Hi","Yo")
(first,second,third)=Data
print(first)
print(second)

Hello
Hi

In [16]:
#5
StudentGrades={
    "Rohaim":"A",
    "Sikander":"A",
    "Taha":"A",
    "Mahad":"A",
    "Hamza":"A"
}
print(StudentGrades)

{'Rohaim': 'A', 'Sikander': 'A', 'Taha': 'A', 'Mahad': 'A', 'Hamza': 'A'}

In [17]:
#6
list1=input("Enter Element seperated by space: ").split(" ")
list2=input("Enter Element seperated by space: ").split(" ")
set1=set(list1)
set2=set(list2)
print(f"Union: {set1.union(set2)}")
print(f"Intersection: {set1.intersection(set2)}")
print(f"Difference: {set1.difference(set2)}")

Enter Element seperated by space: 1 2 3 4
Enter Element seperated by space: 1 2
Union: {'3', '2', '4', '1'}
Intersection: {'1', '2'}
Difference: {'3', '4'}

In [18]:
#7
data=input("Enter Integer: ")
data=int(data)
if data>0:
  print("Positive!")
elif data<0:
  print("Negative!")
else:
  print("Zero")

Enter Integer: -1
Negative!

In [19]:
#8
for i in range(50):
  if (i+1)%3==0 and (i+1)%5==0:
    print("FizzBuzz \n")
  elif (i+1)%3==0:
    print("Fizz \n")
  elif (i+1)%5==0:
    print("Buzz \n")
  else:
    print(f"{i+1} \n")

1

2

Fizz

4

Buzz

Fizz

7

8

Fizz

Buzz

11

Fizz

13

14

FizzBuzz

16

17

Fizz

19

Buzz

Fizz

22

23

Fizz

Buzz

26

Fizz

28

29

FizzBuzz

31

32

Fizz

34

Buzz

Fizz

37

38

Fizz

Buzz

41

Fizz

43

44

FizzBuzz

46

47

Fizz

49

Buzz

In [50]:
#9
Num=input("Enter Number: ")
def factorial(Num):
  Num=int(Num)
  fact=1
  while(Num>0):
    fact=fact*Num
    Num=Num-1
  return fact
fact=factorial(Num)
print(fact)

Enter Number: 2
2

In [51]:
#10
Num=input("Enter Number: ")
def primenum(Num):
  flag=True
  for i in range(2,Num):
    if Num%i==0:
      flag=False
      break
  if flag:
    print("Prime")
  else:
    print("Not Prime" )
Num=int(Num)
primenum(Num)

Enter Number: 12
Not Prime

In [52]:
#11
listint=input("Enter a list of integers seperated by space: ").split(" ")
def squares(listint):
  for i in range(len(listint)):
    listint[i]=int(listint[i])*int(listint[i])
  print(listint)
squares(listint)

Enter a list of integers seperated by space: 1 2 3 4 5
[1, 4, 9, 16, 25]

In [54]:
#12
dict1={
    "i1":"1",
    "i2":"2",
    "i3":"3"
}
dict2={
     "i1":"4",
    "i4":"2",
    "i5":"3"
}
def merge(dict1,dict2):
  dict1.update(dict2)
  print(dict1)
merge(dict1,dict2)

{'i1': '4', 'i2': '2', 'i3': '3', 'i4': '2', 'i5': '3'}

In [55]:
#13
listint=input("Enter a list of integers seperated by space: ").split(" ")
def removedup(listint):
  for i in range(len(listint)):
    flag=False
    j=i-1
    while(j>=0 and not flag):
      if listint[i]==listint[j]:
        flag=True
      j=j-1
    if flag:
      listint[i]="x"
  listint.remove("x")
  print(listint)
removedup(listint)

Enter a list of integers seperated by space: 1 2 3 1
['1', '2', '3']

In [56]:
#14
data=input("Enter Data: ")
def palindrome(data):
  data=data.lower()
  array=list(data)
  i=0
  j=len(array)-1
  flag=True
  while(i<j and flag):
    if array[i]!=array[j]:
      flag=False
    i=i+1
    j=j-1
  if flag:
    print("Palindrome")
  else:
    print("Not Palindrome")
palindrome(data)

Enter Data: racecar
7
Palindrome

In [57]:
#15
def fibonacci(Num):
  i=1
  j=1

  if(Num==1):
    print("1")
  elif Num==2:
    print("1\n1")
  elif Num>2:
    print("1\n1")
    Num=Num-2
    z=0
    while z<Num:
      temp=j
      j=i+j
      i=temp
      print(f"{j}")
      z=z+1
Num=input("Enter Number: ")
Num=int(Num)
fibonacci(Num)

Enter Number: 12
1
1
2
3
5
8
13
21
34
55
89
144

In [58]:
#16
def calculator():
  data=input("Enter a list fo integers seperated by space: ").split(" ")
  try:
    sum=0
    for i in range(len(data)):
      data[i]=int(data[i])
      sum=sum+data[i]
    print(f"Average: {sum/len(data)}")
  except:
    print("Invalid Input")
calculator()

Enter a list fo integers seperated by space: 1 2 3
Average: 2.0

In [60]:
#17
def table():
  for i in range(1,11):
    print(f"Table {i}")
    for j in range(1,11):
      print(f"{i} x {j} = {i*j}")
    print("\n")
table()

Table 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


Table 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


Table 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


Table 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


Table 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


Table 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


Table 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


Table 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


Table 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


Table 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [61]:
#18
LoginInfo={
    "taha":"12345678",
    "Mahad":"12345678"
}
username=input("Enter Username: ")
password=input("Enter Password: ")
def login(username,password):
  if LoginInfo.get(username)==password:
    print("Login Successful")
  else:
    print("Login Failed")
login(username,password)

Enter Username: taha
Enter Password: 12345678
Login Successful

In [62]:
#19
words = input("Enter the words with spaces: ").split()
word_count = {}
for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)

Enter the words with spaces: taha rumi
{'taha': 1, 'rumi': 1}

In [ ]:
#20
words = input("Enter the words with spaces: ").split()
word_count = {}
for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1
print(word_count)